/* ===== Google Font Import - Poformsins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 100;
  padding: 100;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.form_row_list {
  position: relative;
  border-radius: 5px;
  background-color: #131315;
  color: #4070f4; /* Cor do texto my shadow */
  padding: 30px;
  width: 80%;
}

body {
  background-color: #000000; /* Cor do fundo da página */
  color: rgb(64, 112, 244); /* Cor do texto padrão */
  font-family: Poppins, sans-serif; /* Fonte padrão */
}

.form_row_list h2 {
  color: rgb(255, 255, 253);
  text-align: center;
}

/* .form_row_list .row {
    position: relative;
    padding: 20px 0px 10px;
} */

.form_row_list .row-left {
  display: flex;
  justify-content: right;
  align-items: center;
}

a.button-link {
  background-color: #4070f4;
  cursor: pointer;
  padding: 13px 35px;
  border-radius: 5px;
  color: white !important;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.data-list-atlas {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}

.data-list-atlas td,
.data-list-atlas th {
  border: 1px solid #ddd;
  padding: 8px;
}

.data-list-atlas tr:nth-child(even) {
  background-color: #131315;
}

.data-list-atlas tr:hover {
  background-color: #131315;
}

.data-list-atlas th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4070f4;
  color: #f2f2f2;
}

.data-list-atlas .td-align-center {
  text-align: center;
  color: #f2f2f2;
}

.td-align-center.status-cancelado {
  background-color: red;
}

.td-align-center.status-agendado {
  background-color: #4070f4;
}

.td-align-center.status-finalizado {
  background-color: #0234d2;
}

.td-align-center.disable_button {
  color: silver;
  opacity: 0.9;
  pointer-events: none;
}
